.container {
  display: block;
  margin: 0 auto;
  background: rgb(0, 96, 128);
  width: 700px;
  text-align: center;
  height: 500px;
}
h1 {
  color: white;
  font-family: "Titillium Web", sans-serif;
  margin: 0 auto;
  width: 90px;
  height: 0px;
  text-transform: uppercase;

  text-align: center;
}

#em1 {
  font-size: 100px;
  text-align: center;
  margin: 0 auto;
  padding: 0 auto;
  width: 120px;
  height: 120px;
}
#wind {
  color: white;
  font-family: "Titillium Web", sans-serif;
  font-size: 30px;
  width: 180px;
  padding-top: 10px;
  margin: 0 auto;
}
.today li {
  list-style: none;
  color: white;
  font-family: "Titillium Web", sans-serif;
  text-align: right;
  width: 150px;
  border: none;
}
.today ul {
  border: 0px;
}
div.col-3 {
  padding: 0 0px 0 90px;
  margin-bottom: 10px;
}
.row {
  display: block;
  margin: 0 auto;
  align-items: center;
}
.col-2 #right {
  margin-top: 40px;
}
#humidity {
  padding-top: 60px;
}
li.list-group-item {
  background: none;
  padding: 0;
  height: 150px;

  text-align: center;
  display: block;
}
.max {
  list-style: none;
  color: black;
  font-family: "Titillium Web", sans-serif;
}
.list-group-item ul {
  padding: 0;
}
li .em2 {
  font-size: 60px;
  color: aliceblue;
  display: inline;
  height: 30px;
  line-height: 1;
}
.weather-forecast-date {
  font-size: 42px;
  font-weight: 900;
  line-height: 1;
}
.weather-forecast-temperatures {
  font-weight: 800;
  font-size: 20px;
  line-height: 1;
  padding-top: 20px;
}
.min {
  color: white;
}
div.col-2 {
  padding: 0;
  width: 150px;
}
.btn1 {
  margin: 18px auto;
}
form {
  margin-top: 40px;
  margin-left: 0;
  width: 300px;
}
.link {
  margin-left: 110px;
}
